
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@100..800&family=Roboto+Slab:wght@500&display=swap');


:root{
	--heading-font:'Roboto Slab';
	--paragraph-font:'Glory';
	--color1:#ffe571;
	--color2:#ffffff;
	--color3: #850808;
	--color4: #000000;
	--color5:#7e6b00;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}
/* -------------------------small view navigation --------------------------------*/



header {
	font-family: var(--heading-font);
	
	background-color:var(--color1);
	
	display: grid;
	
	grid-gap: 1rem;
	
	padding: 20px;
}
header h1{
	padding: .2rem;
	font-size:2rem;
	text-align: left;
}

.nav{
	max-width: 700px;
	margin: 1rem auto;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	position: absolute;
	top: 2rem;
	right: 1rem;
	
}

#menu::before {
	content: "☰";
	margin-right: 1rem;
}

#menu.open::before {
	content: "❌";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: var(--color4);
	font-family:var(--heading-font);
	font-size: 1.4rem;

}
.navigation a:hover {
	background-color: var(--color3);
	color:var(--color2);
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a{
	display: block;
}

.blog-content{
	display: grid;
    grid-template-columns: 1fr; /* cuando pongo 100% cambia*/
    gap: 10px;
	
}
.purpose{
	display: block;
	background-color: var(--color1);
	font-family: var(--heading-font);
	font-size: 2rem ;
	
	text-align: center;
	padding: 1rem;
}

.intro{
	padding: 1rem;
	justify-content: center;
	text-align: center;
	
	background-color: var(--color2);
}



.intro-texto h2{
	font-family: var(--heading-font);
	margin-bottom: 10px;
	
}
.intro-texto p{
	font-family: var(--paragraph-font);
	font-size: 1.5rem;
	padding: 1rem;
	
}
.intro img{
	width: 100%;     /* ------IMAGEN---------  */
	
}

.logo{
	justify-content: center;

	margin: 0 20px;
	padding: 1rem;
	
}
.logo h2{
	font-family: var(--heading-font);
	font-weight: 400;
	margin-top: 10px;
	text-align: center;
	
}
#logo-image{
	max-width: 50vh;     /* ------IMAGEN---------  */
	align-items: center;
	
}




.blog-Num{
	text-align: center;
	background-color: var(--color2);

}

.blog-1,
.blog-2,
.blog-3 {
	margin-bottom: 2rem;
}

.blog-1 h3,
.blog-2 h3,
.blog-3 h3{
	font-family: var(--heading-font);
	text-align: center;
	padding: 1rem;
}
.blog-1 p,
.blog-2 p,
.blog-3 p{
	font-family: var(--paragraph-font);
	font-size: 1.3rem;
	
	font-weight: 500;
	text-align: center;
	padding: 1rem;
}

.blog-1 img,
.blog-2 img,
.blog-3 img{
	max-width: 100%;
	
	/*border-radius: 15px;*/
	
}
#aud-tittle{
	font-family: var(--heading-font);
	font-size: 2rem;
}
.audience{
	display: grid;
	justify-content: center;
	
}
.lista, .lista2{
	font-family: var(--paragraph-font);
	font-size: 1.2rem;
	font-weight:500;
	/*margin-top: 15px;*/
	margin: 15px;
	padding: 1rem;
	max-width: 400px;
}
.lista-title{
	font-family: var(--paragraph-font);
	/*font-size: 1.4rem;*/
	font-style: italic;
	font-weight: 800;
	
}
.lista p, .lista2 p{
	font-weight: bold;
	/*font-size: 1.3rem;*/
	margin-top: 10px;
	color:var(--color5);

}
.lista li,
.lista2 li{
	list-style: none;
	margin-top: 10px;
	/*font-size: 1.2rem;*/
	font-weight:400;
	
}
/*------------------------------typography---------------*/
.typography {
	padding: 1rem;
	font-size: 1.2rem;
}
.typography h4{
	font-family: var(--heading-font);
}
.hf{
	font-family: var(--heading-font);
	margin:.3rem
}

#pf{
	font-family: var(--paragraph-font);
}

.example-paragraph{
	margin-bottom: 1rem;
	padding: 1rem;
	font-size: 1.2rem;
}
.p-font{
	font-family: var(--paragraph-font);
}
.col-paragraph{
	margin-top: 1.5rem;
}


#orange{
	background-color: var(--color1);
	padding: .5rem;
}



/*---------------Table colors------------*/
.colores{
	display: grid;
	font-family: var(--paragraph-font);
	font-size: 1.1rem;
}
#url{
	padding: 1rem;
}
#url h4{
	margin-bottom: 1rem;
	font-size: 1.2rem;
}
table{
  	width: 100%;
    text-align: center;
	padding: 1rem;
	/*margin:1rem;*/
	margin-bottom: 2rem;
	table-layout: fixed;
	border-collapse: collapse;
    
}
th,td{
	max-width: 150px;
	font-size: .8em;
	
}

th{
	border: 1px solid black;
	padding: .5rem;
	
}
#td1{
 background-color: var(--color1);
 padding: 1rem;
 
}
#td2{
	background-color: var(--color2);
	
	padding: 1rem;
	
   }
#td3{
 background-color: var(--color3);
 color: var(--color2);
 
 padding: 1rem;
   }
#td4{
	background-color: var(--color4);
	color: var(--color2);
	padding: 1rem;
}
#td5{
	background-color:var(--color5) ;
	color: var(--color2);
}
/*--------------------------------------Wireframes------------------------*/
.wireframe{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background-color: var(--color1);
	
}
.wireframe-1{
	margin:10px;
}
.wireframe h4{
	font-family: var(--heading-font);
	font-size: 1.5rem;
}
.wireframe img{
	width: 30vh;
	/*margin-top: 1rem;*/
}

main{
	justify-content: center;
	text-align: center;
}

main h2{
	font-family: var(--heading-font);
}


.text1{
	background-color: var(--color1);
	padding: 1rem;
/*	margin-top: 1rem;*/
	
}
.text1 h3{
	font-family: var(--heading-font);
	font-size: 1.3rem ;
	margin-bottom: 1rem;
}
.text1 p{
	font-family: var(--paragraph-font);
	font-size: 1.2rem;
	font-weight: 400;
	
}
.img1{
	/*max-width: 50%;*/
	width: 100%;
	
}
/*------------------Footer---------------*/
.foo p{
	background-color: var(--color3);
	color: var(--color2);
	
	padding:.3rem;
	text-align: center;
	font-family: var(--paragraph-font);
}



@media (min-width: 600px) {
	#menu {
		display: none; /* hide hamburger button*/
	}

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
		
    }

	.navigation {
        justify-content: flex-end;
		flex-direction: row;
        
	}

	.navigation a {
        display: block;
		background: var(--color1);
		/*flex: 1 1 100%;*/
	}

	
	.blog-content{
		padding: 10px 0;
		background-color: var(--color2);
		
		
	}
	.purpose{
		display: block;
		background-color: var(--color1);
		font-family: var(--heading-font);
		font-size: 2rem ;
		text-align: center;
		padding: 1rem;
	}

	.intro{
		/*width: 100vw;*/
		/*height: 30vh;*/
		display: flex;
		flex-wrap: wrap; /*cambio*/
		align-items: center;
		justify-content: space-evenly;
		
		
	}
	.intro-texto {
		display: flex;
		
		text-align:center;
		flex-direction: column;
		align-self: flex-start;
		
		width: 50%;
		
		margin-top: 1rem;
	}
	
	.intro h2{
		font-family: var(--heading-font);
	}
	.intro p {
		font-family: var(--paragraph-font);
		font-weight: 500;
		font-size: 1.3rem;
	}

	.intro-img{
		width: 60%;
		align-self: center;
	}
	.logo{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: right;

		margin: 0 20px;
		padding: 1rem;
		
	}
	.logo h2{
		text-align: center;
		
	}
	.logo img{
		max-width: 300px;
		
	}
	
	.img-principal{
		max-width: 100%;
	/*	filter: brightness(50%);*/
		
	}
	
	.blog-Num{
		
		display: grid;
		/*grid-template-columns:  repeat(3, 1fr);
		grid-template-rows: auto auto;*/
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 2rem;
		
		justify-content: center;
		align-items: center;
	}
	
	.blog-1,
	.blog-2,
	.blog-3{
		
		padding: 1rem;
		text-align: center;	
	}
	.blog-1 h3,p{
		grid-row: 1;
	}
	.blog-1 h3,
	.blog-2 h3,
	.blog-3 h3{
		font-family: var(--heading-font);
		
	
	}
	.blog-1 p,
	.blog-2 p,
	.blog-3 p{
		font-family:var(--paragraph-font);
		padding: 1rem;
	
	}
	.blog-1 img, 
	.blog-2 img,
	.blog-3 img{
		grid-row: 2;
		max-width: 300px;
		max-height: 350px;
		border-radius: 10px;
	}
	
	/*#aud-tittle{
		padding: 1rem;
		text-align: center;
		font-family: var(--heading-font);
		font-size: 2rem;
	}*/
	.audience{
		display: flex;
		justify-content:center;
	}
	.lista, .lista2{
		margin:50px;
		font-size: 1.5rem;
	}
	/*------------------------------typography---------------*/
	.typography{
		font-size: 1.5rem;
	}
	.example-paragraph{
		font-size: 1.5rem;
	}
	/*-----------------------------Palette colors------------*/
	.colores{
		
		font-size: 2rem;
	}
	
	th,td{
		max-width: 150px;
		font-size: .8em;
	}
	/*----------------------------------Wireframes--------------------*/
	.wireframe img{
		width: 300px;
		
	}
	/*-------------------------------------------------------*/
	main h2{
		font-family: var(--heading-font);
		text-align: center;
		padding: 1rem;
		margin-bottom: 1rem;
	
	}
	
	
	.main-div{
		padding: 1rem;
		
		display: flex;
		
	}

	.img1{
		width: 250px;
		
	
	}
	
	.text1{
		margin-right: .5rem;
		text-align: center;
		
		
	}
	.text1 h3{
		font-family: var(--heading-font);
		font-size: 1.5rem;
		
		align-items: start;
	}
	.text1 p{
		font-size: 1.4rem;
	}
	
 
}