@import url('https://fonts.googleapis.com/css2?family=Glory:wght@100..800&family=Roboto+Slab&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
    
	text-align: left;
	font-family: times, serif;
	font-size: 2.5rem;
	margin-left: 1rem;
    margin-top: 1rem;
    font-family:'Roboto Slab' ;
}

h2 {
    font-size: 2rem;
    text-align: center;
    font-family: 'Roboto Slab';
    color: rgb(23, 23, 99);
    padding: 1rem;
}





/* small view navigation */


header {
	background-color: #71aaff;
    background: linear-gradient(to left, #6aaaff, #843cf8);
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;
}

header,main {
	margin: 0 auto;
}
.nav{
    max-width: 700px;
    margin: 1rem auto;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
    margin-right: 1rem;
    
}

#menu.open::before {
	content: "❌";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
    background: linear-gradient(to bottom, #0046a1, #6a25d8);
	
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
    font-family:'Roboto Slab', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.navigation a:hover {
	background-color: #e9c73f;
	color: #030101;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a{
    display: block;
}
section{
    background:linear-gradient(to bottom, #eacffd, #eeffa1);
}

figure{
    display: grid;
    place-content: center;
    padding: 1rem;
	
}
figure img{
    width: 100%;
    height:100%;
    padding: .5rem;
    margin: 5px;
    border-radius: 15%;
}
figure figcaption{
    text-align: center;
    font-family: 'Glory' ;
    font-size: 1.3rem;
    font-weight:normal;
    
}

footer{
    background-color: antiquewhite;
    padding:1rem;
    text-align: center;
    font-family: 'Glory';
}




