
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@100..800&family=Roboto+Slab:wght@500&display=swap');


:root{
	--heading-font:'Roboto Slab';
	--paragraph-font:'Glory';
	--color1:#ffe571;
	--color2:#7e6b00;
	--color3:#ffffff;
	--color4: #3f3c3c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}
/* -------------------------small view navigation --------------------------------*/



header {
	font-family: var(--heading-font);
	
	background-color:var(--color1);
	background: linear-gradient(to right, #ffe571, #ffffff);
	display: grid;
	
	grid-gap: 1rem;
	
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;
	
}

/*header,main {
	margin: 0 auto;
}*/
.nav{
	max-width: 700px;
	margin: 1rem auto;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
	margin-right: 1rem;
	
}

#menu.open::before {
	content: "❌";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background: var(--color1)
	
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: var(--color4);
	font-family:'Roboto Slab',  sans-serif;
}
.navigation a:hover {
	background-color: var(--color4);
	color:var(--color3);
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a{
	display: block;
}

.blog-content{
	display: grid;
    grid-template-columns: 1fr; /* cuando pongo 100% cambia*/
    gap: 10px;
	
}
.purpose{
	display: block;
	background-color: var(--color1);
	font-family: var(--heading-font);
	font-size: 2rem ;
	color: var(--color2);
	
	text-align: center;
	padding: 1rem;
}

.intro{
	padding: 1rem;
	justify-content: center;
	text-align: center;
	background-color: var(--color3);
}

.intro-texto h2{
	font-family: var(--heading-font);
	margin-bottom: 10px;
	color: var(--color2);
}
.intro-texto p{
	font-family: var(--paragraph-font);
	font-size: 1.5rem;
	padding: 1rem;
}
.intro-img{
	width: 50vh;     /* ------IMAGEN---------  */
}

.logo{
	justify-content: center;

	margin: 0 20px;
	padding: 1rem;
	
}
.logo h2{
	font-family: var(--heading-font);
	font-weight: 400;
	margin-top: 10px;
	text-align: center;
	
}
.logo img{
	max-width: 50vh;     /* ------IMAGEN---------  */
	align-items: center;
	
}




.blog-Num{
	text-align: center;
	background-color: var(--color3);

}

.blog-1,
.blog-2,
.blog-3 {
	margin-bottom: 2rem;
}

.blog-1 h3,
.blog-2 h3,
.blog-3 h3{
	font-family: var(--heading-font);
	text-align: center;
	padding: 1rem;
}
.blog-1 p,
.blog-2 p,
.blog-3 p{
	font-family: var(--paragraph-font);
	font-size: 1.3rem;
	
	font-weight: 500;
	text-align: center;
	padding: 1rem;
}

.blog-1 img,
.blog-2 img,
.blog-3 img{
	max-width: 40%;
	
	border-radius: 15px;
	
}
#aud-tittle{
	font-family: var(--heading-font);
	font-size: 2rem;
}
.audience{
	display: grid;
	justify-content: center;
}
.lista, .lista2{
	font-family: var(--paragraph-font);
	font-weight:500;
	margin-top: 15px;
	padding: 1rem;
}
.lista-title{
	font-family: var(--paragraph-font);
	font-size: 1.4rem;
	font-style: italic;
	font-weight: 800;
	
}
.lista p, .lista2 p{
	font-weight: bold;
	font-size: 1.3rem;
	margin-top: 20px;
	color:var(--color2);

}
.lista li,
.lista2 li{
	list-style: none;
	margin-top: 10px;
	font-size: 1.2rem;
	font-weight:400;
	
}

main{
	/*display: grid;*/
	/*width: 100%;*/
	
	justify-content: center;
	text-align: center;
}
main h2{
	font-family: var(--heading-font);
	color: var(--color2);
}


.text1{
	background-color: var(--color1);
	padding: 1rem;
	margin-top: 1rem;
	
}
.text1 h3{
	font-family: var(--heading-font);
	margin-bottom: 10px;
}
.text1 p{
	font-family: var(--paragraph-font);
	font-size: 1.1rem;
}
.img1{
	max-width: 50%;
	
	padding: 1rem;
}

.foo{
	background-color: var(--color4);
	color: var(--color3);
	padding:1rem;
	text-align: center;
	font-family: var(--paragraph-font);
}



@media (min-width: 740px) {
	#menu {
		display: none; /* hide hamburger button*/
	}

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
		
    }

	.navigation {
        justify-content: flex-end;
		flex-direction: row;
        
	}

	.navigation a {
        display: block;
		/*flex: 1 1 100%;*/
	}

	
	.blog-content{
		padding: 10px 0;
		background-color: var(--color3);
		
		
	}
	.purpose{
		display: block;
		background-color: var(--color1);
		font-family: var(--heading-font);
		font-size: 2rem ;
		color: var(--color2);
		
		text-align: center;
		padding: 1rem;
	}
	.intro{
		/*width: 100vw;*/
		/*height: 30vh;*/
		display: flex;
		flex-wrap: wrap; /*cambio*/
		align-items: center;
		justify-content: space-evenly;
		display: flex;
		
	}
	.intro-texto {
		display: flex;
		
		text-align:center;
		flex-direction: column;
		align-self: flex-start;
		
		width: 50%;
		
		margin-top: 1rem;
		
		
		
	}
	.intro-texto h2 ,p{
		
		color:var(--color2);
	}
	.intro h2{
		font-family: var(--heading-font);
	}
	.intro p {
		font-family: var(--paragraph-font);
		font-weight: 500;
		font-size: 1.3rem;
	}
	.intro-texto img{
		max-width: 400px;
		align-self: center;
	}

	.logo{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: right;

		margin: 0 20px;
		padding: 1rem;
		
	}
	.logo h2{
		text-align: center;
		
	}
	.logo img{
		max-width: 300px;
		
	}
	
	.img-principal{
		max-width: 100%;
	/*	filter: brightness(50%);*/
		
	}
	
	.blog-Num{
		
		display: grid;
		/*grid-template-columns:  repeat(3, 1fr);
		grid-template-rows: auto auto;*/
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 2rem;
		
		justify-content: center;
		align-items: center;
	}
	
	.blog-1,
	.blog-2,
	.blog-3{
		
		padding: 1rem;
		text-align: center;	
	}
	.blog-1 h3,p{
		grid-row: 1;
	}
	.blog-1 h3,
	.blog-2 h3,
	.blog-3 h3{
		font-family: var(--heading-font);
		
	
	}
	.blog-1 p,
	.blog-2 p,
	.blog-3 p{
		font-family:var(--paragraph-font);
		color: #000;
		padding: 1rem;
	
	}
	.blog-1 img, 
	.blog-2 img,
	.blog-3 img{
		grid-row: 2;
		max-width: 300px;
		max-height: 350px;
		border-radius: 10px;
	}
	
	#aud-tittle{
		padding: 1rem;
		text-align: center;
		font-family: var(--heading-font);
		font-size: 2rem;
	}
	.audience{
		display: flex;
		justify-content:center;
	}
	.lista{
		text-align: center;

		max-width: 400px;
		padding: 1rem;
		margin: 50px;
		font-size: 1.4rem;
		font-weight: 450;
		/*column-count: 1;*/
		font-family:var(--paragraph-font) ;
	}

	.lista2{
		text-align: center;
		max-width: 400px;
		margin: 50px;
		font-size: 1.4rem;
		font-weight: 450;
		padding: 1rem;
		/*column-count:1 ;*/
		font-family:var(--paragraph-font) ;	
	}
	.lista p, .lista2 p{
		font-weight: bold;
		margin-bottom: 20px;
	}
	.lista li,
	.lista2 li{
		text-align: left;
	}

	.lista-title{
		padding: 1.5rem;
	}
	
	
	main h2{
		font-family: var(--heading-font);
		text-align: center;
		padding: 1rem;
		margin-bottom: 1rem;
	
	}
	
	
	.main-div{
		padding: 1rem;
		
		display: flex;
		
		
	}

	.img1{
		max-width: 320px;
		border-radius: 10px;
	
	}
	
	.text1{
		margin-right: .5rem;
		text-align: center;
		
		
	}
	.text1 h3{
		font-family: var(--heading-font);
		font-size: 1.5rem;
		margin-bottom: 1rem;
		align-items: start;
	}
	.text1 p{
		font-family: var(--paragraph-font);
		font-weight: 500;
		font-size: 1.3rem;
		
		color:#000
	}
	
	.foo{
		background-color: var(--color4);
		color: var(--color3);
		padding:1rem;
		text-align: center;
		font-family: var(--paragraph-font);
	}
	.final{
		color: var(--color3);
	}
	#lastModified{
		color: var(--color3);
	}
	
 
}