
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@100..800&family=Roboto+Slab:wght@500&display=swap');


:root{
	--heading-font:'Roboto Slab';
	--paragraph-font:'Glory';
	--color1:#ffe571;
	--color2:#16328d;
	--color3:#ffffff;
	--color4: #3f3c3c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}
/* -------------------------small view navigation --------------------------------*/


header {
	font-family: var(--heading-font);
	
	background-color:var(--color1);
    background: linear-gradient(to right, #ffe571, #ffffff);
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;
}

header,main {
	margin: 0 auto;
}
.nav{
    max-width: 700px;
    margin: 1rem auto;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
    margin-right: 1rem;
    
}

#menu.open::before {
	content: "❌";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
    background: var(--color1)
	
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: var(--color2);
    font-family:'Roboto Slab',  sans-serif;
}
.navigation a:hover {
	background-color: var(--color4);
	color:var(--color3);
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a{
    display: block;
}

.blog-content{
	padding: 100px 0;
	background-color: aliceblue;
	position: relative;
}
.intro{
	width: 100vw;
	height: 100vh;
	background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/mm.jpg);
	
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
}
.intro-texto {
	text-align:center;
	flex-direction: column;
	align-self: flex-start;
	width: 50%;
	
	margin-top: 1rem;
	background-color: rgba(128, 128, 128, 0.425);
	filter: contrast(70%);
	
}
.intro-texto h2 ,p{
	
	color: #fff;
}
.intro h2{
	font-family: var(--heading-font);
}
.intro p {
	font-family: var(--paragraph-font);
	font-size: large;
}

.img-principal{
	max-width: 100%;
/*	filter: brightness(50%);*/
	
}

.blog-Num{
	
	display: grid;
	grid-template-columns:  repeat(3, 1fr);
	grid-template-rows: auto auto;
	
	justify-content: center;
	align-items: center;
}

.blog-1,
.blog-2,
.blog-3{
	
	padding: 1rem;
	text-align: center;	
}
.blog-1 h3,p{
	grid-row: 1;
}
.blog-1 h3,
.blog-2 h3,
.blog-3 h3{
	font-family: var(--heading-font);

}
.blog-1 p,
.blog-2 p,
.blog-3 p{
	font-family:var(--paragraph-font);
	color: #000;
	padding: .5rem;

}
.blog-1 img, 
.blog-2 img,
.blog-3 img{
	grid-row: 2;
	max-width: 20vw;
	max-height: 30vh;
}

.main1 h2{
	font-family: var(--heading-font);
	text-align: center;

}

.main1{
	max-width: 100%;
}
.main-div{
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
	grid-template-rows: repeat(4, 1fr); /* 4 filas de igual altura */
	gap: 10px; /* Espacio entre las celdas */
	padding: 20px;
}

.product1 img{
	width: 100%;
	height: 100%;
	
	/*grid-column: 1/3;
	grid-row: 1/3;*/
	grid-column: span 2; /* Ocupa las dos primeras columnas */
	grid-row: span 2; /* Ocupa las dos primeras filas */
		
}
.product1 .item {
	grid-column: 3; /* Ocupa la tercera columna */
	grid-row: span 2; /* Ocupa la primera y segunda fila */
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}


.product2 img{
	width: 100%;
	height: 50vp;
}

.product1 {
	display: grid;
	grid-column: span 2;
	grid-row: span 2;
	gap:10px
	
		
}



.product2 {
	display: grid;
	grid-column: 2/4;
	grid-row: 3/5;
}
.product2 h3{
	grid-column: 1;
	grid-row: span 1;
	
}


@media (min-width: 740px) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}

	h2 {
		font-size: 2rem;
		text-align: center;
        font-family: 'Roboto Slab';
        color: rgb(23, 23, 99);
	}

	#menu {
		display: none; /* hide hamburger button*/
	}

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

	.navigation {
        justify-content: flex-end;
		flex-direction: row;
        
	}

	.navigation a {
        display: block;
		flex: 1 1 100%;
	}

	
   main{
    max-width: 960px;
    margin: 0 auto;
   }
    
  
    
   
   
   
    footer{
        background-color: antiquewhite;
        padding:1rem;
        text-align: center;
        font-family: 'Glory';
    }
}