
@media screen and (min-width: 500px) {
       
    .litle-screen:first-child{
            background: black;
            color: white;
            
            
        }
        

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        }
    
}
